#container {
    width: 400px;
    background-color: rgb(116, 202, 45);
    padding: 20px;
}

input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

ul,li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.list {
    margin: 15px 0;
}

.list > li {
    background-color: rgb(121, 207, 223);
    padding: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

#optional {
    margin-top: 2vh;
    display: flex;
    justify-content: space-between;
}